
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

$primary-color: #f6a10c;
$secondary-color: #000;
$text-color: #fff;
$extra-color:#362e20;

*{
  padding:0;
  margin:0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

body {
  background: linear-gradient(90deg, rgba(225,225,227,1) 0%, rgba(255,255,255,1) 56%, rgba(225,225,227,1) 100%);
  align-items: center;
  justify-content: center;
  
  h1{
    font-size: 2rem;
  }

  h2{
    font-size:3.5rem; 
    color:$primary-color;
   }

  h3{
    font-size: 1.8rem; 
    color:$primary-color;
   }

  p{
    font-size: 1rem;
    line-height: 2rem;
  }
}

// Part-1
.navbar {
  align-items: center;
  justify-content: space-between;
  background-image: url(image/backblack.png);
  background-size: cover;
  padding:50px 15px;

  @media (min-width: 992px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: url(image/backblack.png);
    background-size: cover;
    padding:50px 150px;
  }

  .logo {
    display: flex;
    align-items: center;
    gap:20px;
  }
  
  .logo-bar {
    width: 60px;
    height: 15px;
    background-color: #f5a623;
  }
  
  .logo-text {
    color: #f5a623;
    font-size: 20px;
    font-weight: bold;
  }
  
  .nav-links {
    display: flex;
    gap: 50px;
  }
  
  .nav-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s;
  }
  
  .nav-links a:hover {
    color: #f5a623;
  }
  
  @media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }
    .nav-links {
        flex-direction: column;
        gap: 20px;
        margin-top: 10px;
    }
  }
}

// Part-2
.hero {
  max-width: 100%;
  align-items: center;
  text-align: center;
  padding:50px 15px;
  
  p{
    margin: 20px 0 40px 0;
  }

  @media (min-width: 992px) {
    max-width:45%;
    margin: auto; 
  }

  .btn {
    background-color: $primary-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold; 
    &:hover {
    opacity: 0.29;
    transition: opacity 1s ease 0s;
    }
  }
}

// Part-3
.personal-info1 {
  display: grid;
  padding:50px 15px;
  text-align: left;
  background-color: black;
  color: white;
  

  @media (min-width: 992px) {
    max-width: 100%;
    display: flex;
    background-color: black;
    color: white;
    gap:90px;
    padding:50px 150px;
  }
  

  .image {
    max-width: 400px;
    transform: translate(-2rem);
  

    @media (min-width: 992px) {
      max-width: 500px;
    }
  }
  h3{
    margin: 20px 0;
  }

  .content{
    max-width: 90%;
    padding:20px 10px;

    @media (min-width: 992px) {
      max-width: 100%;
    }

  }
  .info {
    margin-top: 50px;
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-auto-rows:100px;
    gap:10px;

    @media (min-width: 992px) {
      margin-top: 50px;
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows:100px;
      gap:20px;
      text-align: left;
    }

  }

  .label1:nth-child(1){
    background-color: $extra-color;
    max-width: 250px;
    height:80px;
    border-radius: 5px;
    padding:10px;
    align-items: center;
    &:hover {
      opacity: 0.29;
      transition: opacity 1s ease 0s;
      }
  }
  
  .label2:nth-child(2){
    background-color: $extra-color;
    max-width: 250px;
    height:80px;
    border-radius: 5px;
    padding:10px;
    align-items: center;
    &:hover {
      opacity: 0.29;
      transition: opacity 1s ease 0s;
      }
  }
  
  .label3:nth-child(3){
    background-color: $extra-color;
    max-width: 250px;
    height:80px;
    border-radius: 5px;
    padding:10px;
    align-items: center;
    &:hover {
      opacity: 0.29;
      transition: opacity 1s ease 0s;
      }
  }
  
  .label4:nth-child(4){
    background-color: $extra-color;
    max-width: 250px;
    height:80px;
    border-radius: 5px;
    padding:10px;
    align-items: center;
    &:hover {
      opacity: 0.29;
      transition: opacity 1s ease 0s;
      }
  }

  .social-icons {
    display: flex;
    gap: 2px;
  }

  .social-icons img {
    width: 40px;
  }
}

// Part-4
.personal-info2 {
  background-color: $primary-color;
  flex-direction: row;
  justify-content:center;
  max-width: 100%;
  padding:50px 15px;

  @media (min-width: 992px) {
    justify-content: space-between;
    display: flex;
    max-width: 100%;
    padding:50px 150px;
  }

  h3{
    color:$secondary-color;
    text-align: left;
  }

.education{
  

  .fact{
    margin-top: 20px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows:120px;

    @media (min-width: 992px) {
      margin-top: 20px;
      display:grid;
      grid-template-columns: repeat(2,1fr);
      grid-auto-rows:80px;
    }
}

}
.qualifications{
  .qual-item{
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  gap:8px;
  }

  .qual-item1{
    font-weight: bold;
  }
 
}
}

// Part-5
.key-skills {
  background-color: $secondary-color;
  display: flex;
  flex-direction: column;
  padding:50px 15px;

  @media (min-width: 992px) {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    max-width: 100%;
    padding:50px 150px;
  }

  p{
    color:$text-color;
  }

  .skills-section {
    width: 100%;
  
    @media (min-width: 992px) {
      width: 50%;
    }
  }
  
  .skill-group{
    margin-top:30px;
  }
  
  .skill {
    margin: 10px 0;
  }
  
  .progress {
    background-color: $text-color;
    border-radius: 2px;
    overflow: hidden;
    height: 10px;
  }
  .progress-bar {
    background-color: orange;
    height: 100%;
  }
  .image-section img {
    max-width: 500px;
    transform: translate(-11rem);
    
    @media (min-width: 992px) {
      max-width: 550px;
      transform: translate(-5rem);
    }
  }
}

// Part-6
.experience {
    padding:50px 15px;

  @media (min-width: 992px) {
    max-width: 100%;
    text-align: center;
    padding:50px 150px;
  }

  h3{
    color:$secondary-color;
  }

  .experience-container {
    margin-top: 30px;
  

    @media (min-width: 992px) {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    }   
  }
 
  .experience-column {
      max-width: 100%;
  }

  .experience-item {
      display: flex;
      align-items: flex-start;
      margin-bottom: 20px;

      .dot {
        width: 30px;
        height: 30px;
        background-color: #f4a71d;
        border-radius: 50%;
        margin-right: 20px;


          @media (min-width: 992px) {
            width: 30px;
            height: 30px;
            background-color: #f4a71d;
            border-radius: 50%;
            margin-right: 20px;
            }

  
      }

      .details {
          text-align: left;

          h3 {
              font-size: 16px;
              font-weight: bold;
              margin: 0;

              span {
                  font-style: italic;
                  font-weight: bold;
                  color: gray;
              }
          }

          p {
              margin: 5px 0 0;
              color: gray;
          }
      }
  }
}


// Part-7
.portfolio {
  padding:50px 15px;
  background-color: $secondary-color;

  @media (min-width: 992px) {
    background-color: $secondary-color;
    max-width: 100%;
    text-align: center;
    padding:50px 150px;
  }

  h3{
    color:$primary-color;
    text-align: center;
  }

  .portfolio-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3);
    gap: 20px;
    padding: 20px;
    justify-content: center;

    @media (min-width: 992px) {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-content: center;
    }
  }
  
  .item {
    background:$text-color;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgb(42, 34, 34);
  }
  
  .item img {
    width: 100%;
    border-radius: 10px;
  }
}

// Part-8
.footer {
  background-image: url(image/backblack.png);
  background-size: cover;
  color: #fff;
  padding: 50px 15px;
  text-align: center;

  @media (min-width: 996px) {
    background-image: url(image/backblack.png);
    background-size: cover;
    color: #fff;
    padding: 30px 50px;
    text-align: center;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @media (min-width: 996px) {
      flex-direction: row;
      justify-content: space-between;
      row-gap: 80px;
    }
  }

  .logo {
    display: flex;
    align-items: center;
    gap:20px;
  }
  
  .logo-bar {
    width: 60px;
    height: 15px;
    background-color: #f5a623;
  }

  .footer-nav ul {
    list-style: none;
    display: column;
    line-height: 40px;

    @media (min-width: 996px) {
      list-style: none;
      display: flex;
      gap: 80px;
    }
  }

      a {
        color: #fff;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #f39c12;
        }
      }

      .footer-social {

        a {
          color: #fff;
          font-size: 20px;
          margin: 0 10px;
          transition: color 0.3s;
    
          &:hover {
            color: #f39c12;
          }
        }
      }
    
      .footer-bottom {
        margin-top: 50px;
        font-size: 14px;
        opacity: 0.7;
      }
    }
  

  

  






















